<div class="row">
  <div class="col-sm-4 " style="background-color:lavender;">
    <app-grid1></app-grid1>
  </div>
  <div class="col-sm-4 " style="background-color:lavenderblush; ">
    <app-grid2></app-grid2>
  </div>
  <div class="col-sm-4 " style="background-color:lavender; ">
    <app-grid3></app-grid3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" style="background-color:lavenderblush;">
    <app-grid4></app-grid4>
  </div>
  <div class="col-sm-4 " style="background-color:lavender; ">
    <app-grid5></app-grid5>
  </div>
  <div class="col-sm-4 " style="background-color:lavenderblush; ">
    <app-grid6></app-grid6>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" style="background-color:lavender;">
    <app-grid7></app-grid7>
  </div>
  <div class="col-sm-4 " style="background-color:lavenderblush; ">
    <app-grid8></app-grid8>
  </div>
  <div class="col-sm-4 " style="background-color:lavender; ">
    <app-grid9></app-grid9>
  </div>
</div>
